.body-text{
    margin: 24px 64px 0px 24px;
}

.back-btn{
    outline: none;
    border: none;
    background-color: inherit;
    position: fixed;
    margin-top: -40px;
}
.text-main{
    margin-top: 48px;
}

@media (max-width: 440px) {
    .body-text{
        margin: 16px 8px 0px 8px;}
    
}
