$datepicker__font-family: 'Times';
$datepicker__font-size: 16px;
$datepicker__selected-color: #B19472;
$datepicker__border-color: #FEFEF9;
$datepicker__background-color: #FEFEF9;

@import "~react-datepicker/src/stylesheets/datepicker.scss";