.courses {
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));
}

.cours {
    margin: 16px;
    width: 343px;
    border-radius: 8px;
}

.cours_head {
    width: 343px !important;
}

.cours_head_text {
    position: absolute;
    padding: 6px;
    background: rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(10px);
    color: var(--white);
    width: 331px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cours_head_num {
    font-size: 14px;
}

.cours_head_name {
    font-size: var(--fs-h2);
    margin-top: 5px;
}

.cours_head_img {
    border-radius: 8px;
    width: 343px;
    height: 142px;
    object-fit: cover;
}

.lesson_row {
    display: flex;
    justify-content: space-between;
    width: 343px;
}

.lesson__img {
    width: 50px;
    height: 50px;
    border-radius: 60px;
}

.lesson_player {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lesson_player_play_btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.lesson_player_img {
    margin-top: 4px;
}

.lesson_audio_text {
    margin-left: 16px;
    width: 230px;
}

.lesson_audio_text_num {
    font-size: 14px;
}

.lesson_audio_text_name {
    font-size: var(--fs-h2);
}

.lesson_player_duration {
    margin-top: 25px !important;
}