.container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-image: url("../../resources/back.png");
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
}


.content {
    margin: 10vh 0vh 0vh 1vh;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 320px;
    height: min-content;
}

.txt-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    color: var(--dark-brown-1);
    font-size: 18px;
    font-family: 'TNR';
    width: 300px;
    outline: none;
    border: none;
    padding: 8px 16px;
    background: #B19472;
    box-shadow: 0px 3px 12px rgb(24 21 17 / 25%);
    border-radius: 32px;
}

.btn:hover {
    cursor: pointer;
}

.pp {
    text-decoration: none;
    color: var(--middle-coffee);
    margin-top: 40%;
}

.pp2 {
    text-decoration: none;
    color: var(--middle-coffee);
    margin-top: 5%;
}



@media (max-width: 768px) {
    .container {
        background-image: url("../../resources/back_768.png");
    }
}

@media (max-width: 440px) {
    .container {
        background-image: url("../../resources/back_320.png");
        overflow: hidden;
    }
    
    .pp{
        margin-left: 45% ;
    }
  
}
